.about{
    background-color: #333;
    padding: 149px  20px;
    .about__content{
        
    }
}
.about__main__info{
    display: flex;
    justify-content: space-between;
}
.about__text__block{
flex: 0 1 40%;    
    .about__text__title{
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 34px;
        /* white */

        color: #FFFFFF;
    }
    .about__text{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */


        color: #FFFFFF;
    }
}
.about__some__numbers{
flex: 0 1 23%;    
    .about__text__title{
             font-family: 'Open Sans Condensed';
             font-style: normal;
             font-weight: bold;
             font-size: 21px;
             line-height: 29px;
             letter-spacing: 0.1em;
             text-transform: uppercase;

             /* white */
            margin-bottom: 34px;
             color: #FFFFFF;  
    }
    .sit__place{
        img{}
        .sit__place__text{
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #fff;
            span{color: #D1A954;}
        }
    }
    .about__history{
        img{}
        .about__history__text{
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #fff;    
            span{color: #D1A954;}
        }
    }
    
}
.img__block{
    img{
        
    }
}
@media screen and (max-width: 992px){
    .main__sections__title__block .main__sections__title .main__sec__tit {
    color: #D1A954;
    margin-right: 3px;
    margin-left: 81px;
}
    .about{
    padding-top: 103px;    
    }
    .img__block{
     display: none;
        
    img{
        
    }
}
    .main__sections__title__block {
    padding-bottom: 100px;
    padding-top: 1px;
}
    .about__text__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 69%;
}
.about__some__numbers {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 23%;
    flex: 0 1 40%;
    margin-right: -108px;
}    
}
@media screen and (max-width: 768px){
    .about {
    padding-top: 92px;
    padding-bottom: 85px;
}
.main__sections__title__block {
    padding-bottom: 62px;
    padding-top: 0px;
}
    .about__some__numbers {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 23%;
    flex: 0 1 40%;
    margin-right: -61px;
}
.main__sections__title__block .main__sections__title .main__sec__tit {
    color: #D1A954;
    margin-right: 3px;
    margin-left: 4px;
}    
}
@media screen and (max-width: 720px){
    .about__main__info{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 576px){
    .about {
    padding-top: 78px;
    padding-bottom: 85px;
//    margin-top: -195px;
}
    .about__main__info{
        flex-direction: column;
        text-align: center;
    }
    .about__text__block{
        margin-bottom: 16px;
    }  
    .about__history{
        display: inline-block;
        text-align: left;
    }
    .sit__place{
        display: inline-block;
        margin-right: 57px;
    text-align: left;
    }
    .about__some__numbers{
        margin-right: 0;
    }
}
@media screen and (max-width: 455px){
    .about__some__numbers{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}