body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;   
//    font-family: 'Open Sans', sans-serif;
//    font-family: 'Open Sans Condensed', sans-serif;
}
.wrapper{
    min-height: 10000px;
    width: 100%;
    overflow: hidden;
    background-image: url(../../img/small.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}
._container
{
    max-width: 1110px;
    margin: 0 auto;
}
.main__sections__title__block{
//    padding-top: 151px;
    padding-bottom: 102px;
    padding-top: 1px;
    .main__sections__title{
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 47px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;  
    color: #FFF;    
        .main__sec__tit{
            color: #D1A954;
            margin-right: 3px;
            margin-left: 4px;

        }
    }
}
/*---------------------Адаптация-------------------*/
@media screen and (max-width:992px){
    ._container{
       max-width: 618px; 
    }
}
@media screen and (max-width:768px){
    ._container{
       max-width: 692px;
        margin: 0 19px;
    }
}
@media screen and (max-width:576px){
    ._container{
       max-width: 510px; 
        margin: 0 33px ;    
    }
}