.header{
    position: relative;
    z-index: 10;
    .header__content{
        display: flex;
        padding: 50px 20px;
    justify-content: space-between;
        nav{
            .aside__icons__block{
                display: none;
            }
            .nav__menu{
            display: flex;
                li{
                    margin-right: 62px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        font-family: 'Open Sans Condensed';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 25px;
                        /* identical to box height */

                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #fff;
                        padding-bottom: 2px;
                        transition: all 1s ease 0s;
                        &:hover{
                            border-bottom:  2px solid #D1A954;
                           opacity: 0.8;
                        }
                    }
                }
            }
        }
    
    .phone__call__block{
        a{
             font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        /* white */
        padding-bottom: 2px;
        color: #FFFFFF;
        transition: all 1s ease 0s;
            &:hover{
                            border-bottom:  2px solid #D1A954;
               
                        }
        }
    }
    }
}
@keyframes example {
  0%   {left: -1000px;}
  25%  {background-color: #333;
        opacity: 0.5;
    }
  50%  {background-color: #333;}
  100% {background-color: #333;}
}
.burger__menu{
    display: none;
}
.menu__icons__block{
    display: none ;
}
/*---------------------Адаптация-Планшет------------------*/
@media screen and (max-width:992px){
    .header__content{
          flex-direction: column;
    align-items: center;
    justify-content: center;   
    }
    nav{
        margin-bottom: 51px;
    
    }
    .header .header__content nav .nav__menu li {
    margin-right: 28px;
}

    .header .header__content nav .nav__menu li:last-child {
    margin-right: -82px;
}
   
}
/*---------------------Адаптация-Бургер------------------*/
@media screen and (max-width:768px){
     .header__content{
          flex-direction: row-reverse;
    align-items: center;
    justify-content: center;  
    padding: 57px 0px !important;    
    }
    nav{
                display: none;
    }
    nav.active{
        display: block !important;
        position: absolute;
        left: 0px;
        top: 0;
        padding: 140px 20px 20px 37px;
        height: 100vh;  
         animation-name: example;
  animation-duration: 0.5s;
        background-color: #333;
        .menu__icons__block{
    display: flex;  
    flex-direction: column;
    margin-top: 48px;
    padding: 0 51px;
          
            .icons__first__column{
                    margin-bottom: 51px;
                       padding-left: 0px;
                .menu__icons__link  {
                    margin-right: 56px;
    vertical-align: text-bottom;

                    &:last-child{
                        margin-right: 0;
                    }
                     svg{
                        path{
                            fill: #fff !important;
                         fill-opacity:1;
                        
                         }
                     
                            }     
                    }      
                }
                
            .icons__second__column{
                margin-left: -5px;
                .menu__icons__link  {
                margin-right: 43px;
                vertical-align: text-bottom;
                   
                    &:last-child{
                        margin-right: 0;
                    }
                     svg{
                        path{
                            fill: #fff !important;
                         fill-opacity:1;
                            &:hover{
                                fill: #D1A954 ; 
                            }
                         }
                    }  

            }
        }
}
    }
        .nav__menu{
            flex-direction: column;
        }
    
    
    .header .header__content nav .nav__menu li{
        margin-bottom: 36px;

    }
    .header .header__content nav .nav__menu li a{
                    font-family: 'Open Sans Condensed';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 33px;
                    /* identical to box height */

                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    /* white */

                    color: #FFFFFF;
                
    }
        
        
    
    .burger__menu{
    display: inline-block;
    width: 27.67px;
    height: 21px;
        position: relative;
    left: 8px;
    top: 1px;
    transition: all 0.5s ease 0s;
        span{
    width: 70%;
    height: 4px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    &:before
            {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 1px;
            }
    &:after{
    content: "";
    width: 40%;
    height: 4px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 17.5px;
            }
            }
        } 
 
   .burger__menu.active{
        display: inline-block;
    width: 27.67px;
    height: 10px;
    position: relative;
    left: 205px; 
    top: -19px;
         span{
    width: 70%;
    height: 4px;
    background-color: transparent;
    display: inline-block;
    text-align: left;
            &:before{
    content: "";
    width: 74%;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 1px;
    transform: rotate(45deg);
            }
            &:after{
    content: ""; 
    width: 74%;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 1.5px;
    transform: rotate(-45deg);
            }
    }
}
}
    @media screen and (max-width: 576px ){ 
    .header__content{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;  
    padding: 57px 0px !important;    
    }
    }