.main__block__slider{
    
    position: relative;
    
    margin-top: -200px;
    display: flex;
        min-height: 100vh;
   padding-bottom: 253px;
    min-width: 100vh;
    background-image: url(../../img/bigtheatre_fullscreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
//    padding-bottom: 178px;
    align-items: center;
}
.slides_blocks{
    padding-top: 237px;
    position: relative;
    padding-bottom: 60px;
    .slider__item{
        display: flex;
        justify-content: space-between;
        img{
            margin-right: 77px;
        }    
        .slider__text{
padding-right: 134px;
    padding-top: 118px;
            .slider__head{
                font-family: 'Open Sans Condensed';
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 87px;
letter-spacing: 0.1em;
text-transform: uppercase;
 color: #fff;
                margin-bottom: 30px;
            }
            .slider__under_head{
                font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */


color: #FFFFFF;
                margin-bottom: 43px;
            } 
            .slider__button{
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    min-width: 160px;
    min-height: 52px;
    background-color: #D1A954;
    box-sizing: border-box;
    padding: 0px 45px;
    color: #fff;  
    border: none;
    transition: all 1s ease 0s;            
                &:hover{
                    opacity: 0.8;
                    cursor: pointer;
                }            
                
            }
        }
    }
}
///* Слайдер */
//.slick-slider{}
///* Слайдер запущен */
//.slick-slider.slick-initialized{}
///* Слайдер с точками */
//.slick-slider.slick-dotted{}
///* Ограничивающая оболочка */
.slick-list {
    overflow-x: hidden;
}
///* Лента слайдов */
.slick-track{
    display: flex;
}
///* Слайд */
//.slick-slide{}
///* Слайд активный (показывается) */
//.slick-slide.slick-active{}
///* Слайд основной */
//.slick-slide.slick-current{}
///* Слайд по центру */
//.slick-slide.slick-center{}
///* Клонированный слайд */
//.slick-slide.slick-cloned{}
///* Стрелка */
.slick-arrow{
position: absolute;
    bottom: 0;
    right: 14px;
        transition: all 0.5s ease 0s;
    &:hover{
        opacity: 0.7;
        cursor: pointer;
    }
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    right: 346px;
    bottom: 2px;
    background-image: url(../../img/left_side_arrow.svg);
    background-repeat: no-repeat;
    font-size: 0;
    width: 100px;
    height: 19px;
    background-color: transparent;
    border: none;
    color: #fff;
  
    &:before{
    content: 'ПРЕД';
    position: absolute;
    color: #fff;
    top: -4px;
    z-index: 10;
    left: 66px;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
        color: #fff;

    }
}
/* Стрелка вправо */
.slick-arrow.slick-next{
     background-image: url(../../img/right_side_arrow.svg);
        background-repeat: no-repeat;
    font-size: 0;
    width: 100px;
    height: 19px;
    background-color: transparent;
    border: none;
     color: #fff;
        margin-bottom: 2px;
    &:after{
content: "СЛЕД";
    position: absolute;
    color: #fff;
    top: -4px;
    z-index: 10;
    left: -69px;
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    }
    
}
///* Стрелка не активная */
//.slick-arrow.slick-disabled{}
///* Точки (булиты) */
//.slick-dots{}
//.slick-dots li{}
///* Активная точка */
//.slick-dots li.slick-active{}
///* Элемент точки */
//.slick-dots li button{}
.large_block{
    display: none;
}
//АДАПТАЦИЯ
@media screen and (max-width: 992px){
    .slides_blocks{
        display: none;
        
    }
    .large_block{
    display: block;

    box-sizing: border-box;
    padding-top: 0;
    margin-top: 228px;
    
    padding-right: 71px;

            .slider__head{
                font-family: 'Open Sans Condensed';
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 87px;
letter-spacing: 0.1em;
text-transform: uppercase;
 color: #fff;
                margin-bottom: 30px;
            }
            .slider__under_head{
                font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */


color: #FFFFFF;
                margin-bottom: 43px;
            } 
            .slider__button{
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    min-width: 160px;
    min-height: 52px;
    background-color: #D1A954;
    box-sizing: border-box;
    padding: 0px 45px;
    color: #fff;  
    border: none;
    transition: all 1s ease 0s;            
                &:hover{
                    opacity: 0.8;
                    cursor: pointer;
                }            
                
            }
        }
    .main__block__slider{
        align-items: center;
    }    
}

@media screen and (max-width: 1450px){
.slider__text{
        padding-right: 34px !important;
    padding-top: 118px !important;
    padding-left: 113px !important;
}
}
@media screen and (max-width: 1150px){
    .slides_blocks{
        padding-left: 40px;
    padding-right: 40px;
}
}
@media screen and (max-width: 768px){
    .large_block{
        display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 72px;
    text-align: left;
    padding-top: 317px;
        margin-top: 0;
    margin-bottom: 32px;    
        .slider__head{
            letter-spacing: 6px;
            font-size: 66px;
        }
        .slider__under_head{
            margin-bottom: 45px;
        }
        .slider__button{
            margin-left: 3px;
        }
    }
    .main__block__slider{
        align-items: flex-start;
        padding-bottom: 19px;
    }
}
@media screen and (max-width: 576px){
    .large_block{
        padding: 0;
        max-width: 520px;
        padding-top: 260px;
        
        .slider__head{
         font-size: 64px;    
        } 
    }
    
    .main__block__slider{
        min-height: 100%;
        padding-bottom: 78px;
//        margin-bottom: 270px;
    }
}
@media screen and (max-width: 552px){
    .large_block{
        padding: 0;
        max-width: 300px;
        padding-top: 260px;
        
    }
}
@media screen and (max-width: 350px){
    .large_block .slider__head {
    letter-spacing: 6px;
    font-size: 47px;
        line-height: 120%;
    }
    .large_block {
    
        max-width: 231px;
    }
}